{
  "extends": [
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "react/no-unknown-property": [
      "off", { "ignore": [
        "link"
      ] }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine":"auto",
        "printWidth": 80,
        "singleQuote": false,
        "trailingComma": "es5",
        "semi": false,
        "tabWidth": 2
      }
    ]
  }
}
